{% extends 'base.html' %}


{% block main %}
    <h1>Edit User data</h1>
    <form action="" method="post">
        {% csrf_token %}
        <!-- Password Field -->
        <div>
            <label for="old_password"><strong>Current Password:</strong></label>
            {{ form.old_password }}
        </div>

        <!-- Password Field -->
        <div>
            <label for="id_new_password"><strong>New Password:</strong></label>
            {{ form.new_password }}
        </div>

        <!-- Additional Notes -->
        <div>
            <p><strong>Notes:</strong></p>
            <ul>
                <li>You cannot use a password that has already been used.</li>
                <li>The password must be at least 8 characters long.</li>
                <li>You cannot use an easily guessable password.</li>
                <li>You cannot reuse any of your old passwords.</li>
            </ul>
        </div>

        <!-- Password Confirmation Field -->
        <div>
            <label for="id_confirm_password"><strong>Password (Confirmation):</strong></label>
            {{ form.confirm_password }}
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
{% endblock %}