{% extends 'base.html' %}

{% block main %}
    <h1>Signup</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div style="margin-left:10px; margin-top:10px">
            <!-- Username Field -->
            <div>
                <label for="id_username"><strong>Username:</strong></label>
                {{ form.username }}
            </div>

            <!-- Email Address Field -->
            <div>
                <label for="id_email"><strong>Email Address:</strong></label>
                {{ form.email }}
            </div>

            <!-- Age Field -->
            <div>
                <label for="id_age"><strong>Age:</strong></label>
                {{ form.age }}
            </div>

            <!-- Password Field -->
            <div>
                <label for="id_password"><strong>Password:</strong></label>
                {{ form.password }}
            </div>

            <!-- Additional Notes -->
            <div>
                <p><strong>Notes:</strong></p>
                <ul>
                    <li>You cannot use a password that has already been used.</li>
                    <li>The password must be at least 8 characters long.</li>
                    <li>You cannot use an easily guessable password.</li>
                    <li>You cannot reuse any of your old passwords.</li>
                </ul>
            </div>

            <!-- Password Confirmation Field -->
            <div>
                <label for="id_confirm_password"><strong>Password (Confirmation):</strong></label>
                {{ form.confirm_password }}
            </div>

            <!-- Submit Button -->
            <div>
                <button type="submit">Register</button>
            </div>
        </div>
    </form>
{% endblock %}