{% extends 'base.html' %}


{% block main %}
    <h1>Full Membership Registration</h1>

    <!-- Displaying logged-in user details -->
    <div>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email Address:</strong> {{ user.email }}</p>
        <p><strong>Age:</strong> {{ user.age }}</p>
        <p><strong>Status:</strong> Password Created</p>

        <a href="{% url 'user:update' %}">Edit</a>
        <a href="{% url 'user:change_password' %}">Change Password</a>
    </div>
{% endblock %}